<div class="container-fluid">
  <div class="row">
    <h4>A New Kind of Media</h4>
    <p>We have a strong committment to providing the best media to our visitors.</p>
    <ul class="col-md-6 col-sm-6 col-xs-6">
      <li><a routerLink="/Support">Contact Us</a></li>
      <li><a href="">Partner Sites</a></li>
      <li><a href="">Careers</a></li>
    </ul>
    <ul class="col-md-6 col-sm-6 col-xs-6">
      <li><a routerLink="/Support">Contact Us</a></li>
      <li><a href="">Partner Sites</a></li>
      <li><a href="">Careers</a></li>
    </ul>
  </div>
</div>
