<div class="row">
  <div class="col-md-12">
    <div *ngFor="let video of videos; let indexCount = index">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="videoContainer" style="text-align: center;">
          <div style="display: inline-block; text-align: left;">
            <a routerLink="/View_Video" [queryParams]="{videoId: video.key}">
              <img class="img img-responsive" [src]="bottomRecommendedVideos[indexCount]">
            </a>
            <div class="mediaInfo">
              <p>{{video.title | uppercase}}</p>
              <p>
                {{video.views}} Views
                {{video.likes}} <span class="glyphicon glyphicon-thumbs-up"></span>
                {{video.dislikes}} <span class="glyphicon glyphicon-thumbs-down"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg col-sm-12 col-xs-12">
      <button class="btn btn-default">View More</button>
    </div>
  </div>
