<div class="row">
  <div class="col-sm-4 hidden-xs"></div>
  <div id="singleAdContainer" class="hidden-md hidden-lg col-sm-12 col-xs-12">
    <div class="col-sm-12 col-xs-12">
      <img src="http://blackwallstreet.org/tripleclick/93477322330024.png" class="img">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-lg-1 hidden-sm hidden-xs"></div>
  <div id="multipleAdContainer" class="col-md-10 col-lg-10 hidden-sm hidden-xs">
    <div class="">
      <div id="ryanSlide" class="item">
        <div class="col-md-4" id="adContainer1">
          <img src="http://blackwallstreet.org/tripleclick/93477322330024.png" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-4">
          <img src="http://blackwallstreet.org/tripleclick/93477322330024.png" class="img-responsive" alt=""/>
        </div>
        <div class="col-md-4" id="adContainer3">
          <img src="http://blackwallstreet.org/tripleclick/93477322330024.png" class="img-responsive" alt=""/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1 hidden-sm hidden-xs"></div>
</div>
